<div class="app-wrapper ocean-theme naidapa-theme-active">
    {% include "naidapa_theme/templates/includes/ocean/ocean_sidebar.html" %}

    <div class="app-content">
        <header class="header-main">
            <button type="button" class="header-toggle naidapa-header-toggle"
                aria-label="Toggle navigation menu" aria-expanded="true" title="Toggle navigation menu">
                <iconify-icon icon="line-md:menu-fold-left"></iconify-icon>
            </button>
            {% include "naidapa_theme/templates/includes/ocean/ocean_navbar.html" %}
        </header>
        <div id="body"></div>
        <footer></footer>
    </div>
</div>
